@CHARSET "UTF-8";

#head div {
    padding: 0; 
}
.well {
	width:50px;
    min-height: 0; 
    padding:0; 
    background:#781378;
    text-align:center;
    
}
.well p{
	padding:5px;
	color:white;
	margin-bottom:0px;
}

#loginBtn{
	width:60px;
	text-align:center
}