@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}

.all {
	width: 100%;
}

.my-div {
	background-color: black;
	height: 32px;
	padding-right: 20px;
}

.my-img {
	background-color: rgb(41, 156, 219);
	margin-left: 20px;
	height: 81px;
	width: 160px;
	padding: 17px 11px 17px 11px;
}

.my-div ul {
	float: right;
}

.my-div ul li {
	float: left;
}

.login-btn {
	width: 48px;
	height: 32px;
	background-color: #289bbd;
	font-size: 12px;
	padding: 10px 11px 10px 11px;
}

.my-div ul li p {
	color: white;
}

.download {
	font-size: 12px;
	margin: 9px 20px 10px 20px;
}

.sug {
	font-size: 12px;
	margin: 10px 38px 10px 0px;
}

#search_box {
	padding: 35px 0;
	margin:0;
}

#search_box input, #search_box span {
	border-radius: 0;
	height: 40px;
}

#search_box span {
	background: #398fe6;
	padding: 0 30px;
}

#search_box input:focus {
	outline: none !important;
}

#cateList  .list-group-item {
	height: 38px;
	line-height: 38px;
	padding: 0;
}

#newsCoursel {
	height: 240px;
}

#newsCoursel  .carousel-inner img {
	width: 100%;
	height: 240px;
}

#three_grid {
	margin-top: 10px;
}

#three_grid .row_three {
	border-top: 1px solid lightgray;
	margin-top: 10px;
}
/* #three_grid .row_three:first-child{
  border-top:none;
} */
#three_grid .row_three>h3 {
	height: 30px;
	line-height: 10px;
}

#three_grid .row_three .img_box {
	height: 140px;
}

#three_grid .row_three .img_box>div, #three_grid .row_three .eval_box>div
	{
	padding: 0 15px;
}

#three_grid .row_three .img_box img {
	width: 100%;
	height: 140px;
}

#three_grid .row_three .eval_box {
	height: 50px;
	line-height: 50px;
}

#three_grid .row_three .eval_box>div>img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

#three_grid .row_three .eval_box>div span {
	margin-left: 10px;
}

.row_three h4:hover{
	text-decoration: underline;
	
}
.hours_box {
	background: lightgray;
	margin-bottom: 30px;
}

.hours_box {
	padding: 20px 15px 30px 15px;
}

.hours_box>h3 {
	margin-top: 0;
}

.right_box, .left_box {
	padding: 0 5px;
}
.foot_tip{
  padding:0 10px;
}
.foot_tip>div{
  padding:0;
  text-align:center;
}