#login_box {
	margin-top: 100px;
}

form {
	padding: 20px;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 20px;
}

.nav-tabs li {
	padding: 0;
	margin: 0;
	text-align: center;
}

.nav-tabs>li.active>a {
	border-bottom: none;
}

.checkbox+.checkbox {
	margin-top: 10px;
}

.register_btn {
	margin-left: 5px;
}

#loginUser {
	margin-left: 10%;
}	
#login_box {
	margin-top: 100px;
}

form {
	padding: 20px;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 20px;
}

.nav-tabs li {
	padding: 0;
	margin: 0;
	text-align: center;
}

.nav-tabs>li.active>a {
	border-bottom: none;
}

.checkbox+.checkbox {
	margin-top: 10px;
}

.register_btn {
	margin-left: 5px;
}

#loginUser {
	margin-left: 10%;
}