@CHARSET "UTF-8";
* {
	padding: 0;
	margin: 0;
}

ul, ol, li {
	list-style: none;
}

#head {
	height: 32px;
	line-height: 32px;
	width: 100%;
	background: #781378
}

#head a {
	text-decoration: none;
}

#head .nav {
	position: relative
}

#head  .navright {
	position: absolute;
	right: 38px
}

#head  .navleft {
	position: absolute;
	left: 20px;
}

#head div {
	padding: 0 20px;
}

#head div ul li {
	float: left;
	margin-right: 10px;
}

#head div ul li a {
	color: #fff;
	font-size: 14px;
}

#main {
	margin-top: 20px;
	padding-bottom: 80px;
}

#main.container {
	width: 60%;
}

#new_box {
	posotion: relative;
}

#new_box>* {
	margin-top: 20px;
}

#new_box>*:first-child {
	margin-top: 0;
}

#new_box .cop_box {
	position: absolute;
	bottom: 10px;
}

#new_box .cop_box>* {
	margin-top: 20px;
}

#new_box .cop_box>div img {
	margin-left: 10px;
}

#new_box .cop_box>div {
	margin-bottom: 20px;
}

#new_content {
	margin-top: 20px;
	line-height: 30px;
	font-size: 17px;
	word-spacing: 10px;
	letter-spacing: 1px;
	font-family: 宋体;
	font-weight: 400;
	padding-bottom: 20px;
}
#comment_box{
  margin-top:20px;
}
#comment_box .icon img {
	width: 35px;
	height: 35px;
	border-radius: 30px;
}

#comment_box .input-group>* {
	border-radius: 0;
}

#comment_box span {
	background: #398fe6;
	padding: 0 30px;
	border: none;
	color:white;
	font-weight:500;
}
#comment_list{
  margin-top:1px;
}


.comm_user{
  color:#2986ce;
}
.pre_date{
  margin-left:5px;
}
.comm_item{
  margin-top:20px;
}
