
#right_content #search_row {
	padding-bottom: 0;
}


.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover
	{
	background-color: orange;
}

#myModal  .modal-content {
	background: fdfdfe;
}

.datepicker_box {
	padding: 5px 15px;
}

#myModal  .modal-content .modal-header {
	background: #1c314a;
	border: 1px solid lightgray;
	color: darkgray
}

#exampleModalLabel .form-group {
	padding: 3px 6px;
	margin-bottom: 10px;
}

#exampleModalLabel .form-group .form-control {
	height: 30px;
}

#exampleModalLabel #address {
	padding-left: 0;
}

@media (min-width:768px) {
	#exampleModalLabel .form-group .control-label {
		padding-top: 4px;
	}
}

#exampleModalLabel .form-group .form-control{
	padding-top:4px;
	
}
#exampleModalLabel #address .form-control{
	margin-left:15px;
}
.modal-content .modal-footer{
	text-align:center;
}
.modal-content .modal-footer .btn{
	margin-right:30px;
	
}
.modal-content .modal-footer .btn span{
	color:orange;
	font-size:16px;
}
 .modal-footer .btn .glyphicon{
   top:3px;
 }

span.tip{
	color:red;
}
.user_photo{
	padding:0 !important;
}
.user_photo img{
	width:40px;
	height:40px;
}

#avatar_scan img{
	width:135px;
	height:150px;
}

